<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <!-- Nav Bar -->
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a class="button button-icon button-clear ion-android-cart" ui-sref="app.cart"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- ****END Nav Bar -->

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
      <h1 class="title">Menu</h1>
    </ion-header-bar>

    <ion-content>
      <!-- menu items -->
      <ion-list>
        <ion-item menu-close ui-sref="app.browse">
          Browse Books
        </ion-item>
        <ion-item menu-close ui-sref="app.cart">
          My Cart
        </ion-item>
        <ion-item menu-close ui-sref="app.purchases">
          My Purchases
        </ion-item>
        <ion-item menu-close ng-show="isAuthenticated" ng-click="logout()">
          Logout
        </ion-item>
        <ion-item menu-close ng-hide="isAuthenticated" ng-click="loginFromMenu()">
          Login
        </ion-item>
      </ion-list>
      <!-- ***END menu items -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
